/* Base styles */
html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  list-style-type: none;
  text-decoration: none;
}
li {
  padding-left: 2em; 
  text-indent: -2em;
}
.text-container {
  z-index: 100;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
  margin: 0 30px;
}
.list-link {
  font-size: 20px;
}
:root {
  --color-bg1: rgb(0, 0, 0);
  --color-bg2: rgb(147, 86, 137);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 490, 31, 255;
  --color-interactive: 140, 100, 255;
  --circle-size: 90%;
  --blending: hard-light;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .text-container {
    font-size: 20px;
    margin: 0 15px;
  }
  .list-link {
    font-size: 16px;
  }
  .gradient-bg {
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  }
  .g1, .g2, .g3, .g4, .g5, .interactive {
    width: 50%;
    height: 50%;
    top: calc(50% - 25%);
    left: calc(50% - 25%);
  }
}

/* Existing styles */
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  svg {
    display: none;
  }
  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }
  .g1, .g2, .g3, .g4, .g5, .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
  }
}